body {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 50px;
}

.bright {
    color: orange;
}

.flexible-bar {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.container {
    width: 50%;
    padding-left: 50px;
    padding-top: 30px;
}

.container img {
    width: 75%;
}

.appointment-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 6px 25px;
    margin-top: 2px;
    color: whitesmoke;
    font-weight: 800;
}

.container-two {
    margin-top: 10px;
    padding-left: 50px;
}

.flexible-bar {

    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.container-two img {
    width: 112%;
    background-repeat: no-repeat;
}

.resume-button {
    background-image: linear-gradient(orange, tomato);
    padding: 6px 30px;
    text-decoration: none;
}

.tab-bar {
    padding-left: 5%;
    box-shadow: 10px 10px 15px gray;
}

footer {
    height: 50px;
    width: 100%;
    background-color: rgb(229, 224, 153);
}

footer p {
    text-align: center;
    padding-top: 5px;
}